<h1>Got lots to do!</h1>
<ul>
    {% for item in all_items %}
        <li>
            <h4>{{item.title}}:</h4> 
            {{item.content}}
            <form action="/deleteTodo/{{item.id}}/">
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
</ul>

<h3>Add Another Todo:</h3>
<form action="/addTodo" method="post">{% csrf_token %}
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="content" placeholder="Details">
    <input type="submit" value="Add">
</form>